
footer{
    position: relative;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
   /* margin-top: 18vw;*/
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}



footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 10px;
    flex-wrap: wrap;
}

footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li{
    list-style: none;

}

footer .menu li{
    list-style: none;

}

.social_iconA {
   font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

.social_iconA:hover {
    transform: translateY(-10px);

}


footer .menu li{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.menuLink{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.menuLink:hover{
    opacity: 1;
}

footer .menu li:hover {
    opacity: 1;

}

footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("wave.png");
    background-size: 1000px 50px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 6s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 6s linear infinite;
}


@keyframes animateWave {

    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {

    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

